<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gym Spartan @ViewData["Title"] </title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/Gym_Final.styles.css" asp-append-version="true" />
    <link rel="shortcut icon" href="~/lib/muaythai.ico" type="image/x-icon">
   
</head>
<body>
    <header>
        <div class="header">
            <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-black border-center box-shadow mb-3">
                <div class="container-fluid">
                    <a href="http://localhost:5240/Home"><img src="~/lib/muaythai.png" width="27" height="26" alt="compras" class="logoPrincipal"><a/>


                    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                            aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="navbar-collapse collapse d-sm-inline-flex justify-content-between">
                        <ul class="navbar-nav flex-grow-1">
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Index">Inicio</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="">Metodologia</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="">Servicios</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="">Sedes</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="Tienda">Tienda</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-white" asp-area="" asp-controller="Home" asp-action="">Contacto</a>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-area="">Este es un espacio de prueba para marcar la distancia hasta el menu de opciones de la tienda y login user</a>
                            </li>
                            <li class="nav-item">
                                <a href="http://localhost:5240/Home/Tienda"><img src="~/lib/carrito.png" width="20" height="20" alt="compras" class="icono"><a/>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link text-black" asp-area=""></a>
                            </li>
                            <li class="nav-item">
                                <a href="http://localhost:5240/Home/RegistroPrincipal"><img src="~/lib/user-1.png" width="15" height="15" alt="compras" class="icono"><a/>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
        
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted bg-black">
        <div class="container">
            &copy; 2022 - Gym Spartan - <a asp-area="" asp-controller="Home" asp-action="">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
