@{
    ViewData["Title"] = "";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym Spartans</title>
    <link rel="shortcut icon" href="~/lib/muaythai.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;display=swap" rel="stylesheet">
  
</head>
<body>
    <header>
        <div class="video">
            <video height="543" muted autoplay loop controls>
                <source src="~/lib/video1.mp4#t=15" type="video/mp4">
            </video>
        </div>
        
    </header>
    <main>
        <section class = "contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <div class="contenido-textos">
                   <h3>SOBRE NOSOTROS</h3>
                   <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque a libero porttitor, pharetra metus in, eleifend urna.</p>
                   <a style="color:#116060;" class="boton-personalizado" href="https://sensacionweb.com/">View more</a>
                </div>
                <img src="~/lib/noticia1.jpg" width="151.1" height="200" alt="Sobre nosotros" class="imagen-about-us"/>
                <img src="~/lib/noticia2.jpg" width="151.1" height="200" alt="Sobre nosotros" class="imagen-about-us"/>
                <img src="~/lib/noticia3.jpg" width="151.1" height="200" alt="Sobre nosotros" class="imagen-about-us"/>
            </div>
            
        </section>
     
        <section class = "contenedor filosofia">
            <div class="contenedor-filosofia">
                <img src="~/lib/il1.jpg" width="313.6" height="417.4" alt="Sobre nosotros" class="imagen-about-us"/>
                <div class="contenido-textos">
                    <h3>NUESTRA FILOSOFIA</h3>
                    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus volutpat, ex eget condimentum gravida, sem leo elementum libero, ut finibus ex risus vitae risus. Nullam dapibus vel arcu non pharetra. Nunc hendrerit pretium magna in vestibulum. Nullam molestie orci vel ante finibus laoreet. Pellentesque tempus massa quis sodales cursus. Sed pulvinar nisl id mollis rhoncus. Quisque dignissim mattis nibh ac viverra.</p>
                </div>
            </div>
        </section>
        <br>
        <section class="contenedor datos">
            <div class="contenedor-datos">
                <img src="~/lib/Datos.png" width="954.5" height="225.5" alt="Datos" class="imagen-datos"/>
            </div>
        </section>
        
        <hr>
        <section class = "cont frases">
            <div class="cont-frases">
                <div class="contenido-textos">
                    <p><span></span>!SOLO HAZLO!</p>
                </div>
                <div class="contenido-textos">
                    <p><span></span>ES 10% TALENTO Y 90% ESFUERZO</p>
                </div>
                <div class="contenido-textos">
                    <p><span></span>NUNCA TE DES POR VENCIDO</p>
                </div>
                <div class="contenido-textos">
                    <p><span></span>PUEDO PORQUE CREO QUE PUEDO</p>
                </div>
            </div>
        </section>
        <hr>
        

        <br>
        <section class="rectanguloMarcas">
            <img src="~/lib/logoMarca1.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca2.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca3.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca4.png" width="160" height="40" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca5.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca6.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
        </section>
        <br>

        <section class="cont-TituloRect">
             
        </section>
        
        <section class = "seccion paso-1">
            <div class="seccion-pasos">
                <img src="~/lib/paso1.jpg" width="350.8" height="434.5" alt="Sobre nosotros" class="imagen-about-us"/>
                <div class="contenido-textos">
                    <h3><span>1</span> Choose your training</h3>
                    <p>Quema calorías, gana fuerza, tonifica tus músculos y aprende a defenderte entrenando Boxeo, Muay Thai y MMA con nosotros.</p>
                </div>
        </section>
        <br>

        <section class = "seccion paso-2">
            <div class="seccion-pasos">
                <div class="contenido-textos">
                    <h3><span>2</span> Start to work</h3>
                    <p>Contamos con profesionales del deporte y nutrición altamente capacitados que te guiarán durante todo el proceso para lograr tus objetivos.</p>
                </div>
                <img src="~/lib/paso2.jpg" width="350.8" height="434.5" alt="Sobre nosotros" class="imagen-about-us"/>
        </section>
        <br>
         
        <section class = "seccion paso-3">
            <div class="seccion-pasos">
                <img src="~/lib/paso3.jpg" width="350.8" height="434.5" alt="Sobre nosotros" class="imagen-about-us"/>
                <div class="contenido-textos">
                    <h3><span>3</span> Make real results happen</h3>
                    <p>Tus objetivos son nuestros objetivos. Sabemos que con nuestra metodologia y tu disciplina, voluntad y energía lograremos todo lo que te propones.</p>
                </div>
        </section>
        <br>
        
        <section class="promociones contenedor">
            <section class="cont-TituloRect">
                <div class="rectanguloTituloVerde">
                <p>PROMOCIONES</p>
                </div>
            </section>
            <div class="cards">
                <div class="card">
                    <img src="~/lib/card1.png" width="250" height="140" alt="">
                    <div class="contenido-texto-card">
                        <h4>298 por 3 meses</h4>
                        <p>Escoge entre cualquiera de nuestras disciplinas y accede también a los equipos del giminasio</p>
                        <hr>
                        <img src="~/lib/muaythai.png" width="30" height="30" alt="">
                    </div>
                </div>
                <div class="card">
                    <img src="~/lib/card2.png" width="180" height="180" alt="">
                    <div class="contenido-texto-card">
                        <h4>Descuento de hasta 40%</h4>
                        <p>Aprovecha los mejores descuentos en tus marcas preferidas y participa en el sorte de membresias </p>
                        <hr>
                        <img src="~/lib/muaythai.png" width="30" height="30" alt="">
                    </div>
                </div>
            </div>
        </section>
       <hr>
       <div class="rectanguloTituloNegro">NUESTROS SERVICIOS</div>
        <section class="cont-servicios">
            <div class="servicio">
                <img src="~/lib/servicio1.jpg" width="635" height="450" alt="">
                <p style="color:#116060; font-weight: bold;">EQUIPOS</p>
            </div>
            <div class="servicio">
                <img src="~/lib/servicio2.jpg" width="635" height="450" alt="">
                <p style="color:#116060; font-weight: bold;">ARTES MARCIALES</p>
            </div>
            
        </section>
       <hr>
        <br>
        <br>
        <section class="cont-Titulo">
            <div class="rectanguloTituloNegro">
                <p>NUESTROS ENTRENADORES</p>
            </div>
        </section>
        <section class="cont-Titulo">
            <p>Conoce a nuestro equipo de expertos profesionales</p>
        </section>
        
        <section class = "contenedor sobre-nosotros">
            <div class="contenedor-sobre-nosotros">
                <div class="entrenadores">
                   <img src="~/lib/entrenador1.jpg" width="240" height="300" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p class="centrado">Luca Aguilar</p>
                   <p style="color:#116060;" class="centrado" >ENTRENADOR DE BOX</p>
                   
                </div>
                <div class="entrenadores">
                   <img src="~/lib/entrenadora2.jpg" width="240" height="300" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p class="centrado">Valentina Mora</p>
                   <p style="color:#116060;" class="centrado" >ENTRENADORA DE TRX</p>
                </div>
                <div class="entrenadores">
                   <img src="~/lib/paso3.jpg" width="240" height="300" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p class="centrado">Dante Zegarra</p>
                   <p style="color:#116060;" class="centrado" >ENTRENADOR DE CROSSFIT</p>
                </div>
            </div>
        </section>
        <hr />
        <section class="Comentarios">
            <div class ="contenedor-comentario">
                <img src="~/lib/miembro.jpg" width="200" height="200" alt="miembro" class="imagen-about-us"/>
                <div class="contenido-textos">
                   <p style="color:#FFFFFF;">"Excelentes profesores y equipo, te ayudan desde lo básico y te tienen mucha paciencia. También me gusta mucho que tengan nutricionistas que nos ayudan en nuestra alimentación y estoy feliz con lo que voy consiguiendo hasta ahora, cada vez me siento más segura y fuerte."</p>
                   <br>
                   <h4 style="color:#FFFFFF">Monica Rivera</h4>
                   <p style="color:#116060; font-weight: bold;">MIEMBRO DEL CLUB</p>
                </div>
            </div>
        </section>
        <hr />
    </main>
</body>


</html>
