@{
    ViewData["Title"] = "Cliente";
}

<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Gym Spartans</title>
    <link rel="shortcut icon" href="~/lib/muaythai.ico" type="image/x-icon">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;display=swap" rel="stylesheet">
  
</head>

 <body>
        <header>
            <div class="atras"> 
			</div> 
        </header>
        <main>
            <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="RegistroPrincipal">ATRAS</a>
			<a href="http://localhost:5240/Home/RegistroPrincipal"><img src="~/lib/atras.png" width="30" height="20" alt="atras" class="flecha-atras"><a/>
            <div class="hero__background" style="background-image: url('/lib/fondo1.jpg'); width: 100vh; height: 80vh; ">
                <div class="containerPr" style="padding-top: 100px; padding-bottom: 60px;">
                    <div class="row">
                        <div class="col-12 text-centerPr">
                            <a class="btnPr btnPr-primaryPr">
                                <span>contactanos</span>
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <footer>
        </footer>
</body>