@{
    ViewData["Title"] = "Tienda";
}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/estilos.css">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,700,800&amp;display=swap" rel="stylesheet">
  
</head>

<body>
    <header>
        <div class="atras"> 
        </div> 
    </header>
    
    <br>

    <main>
        <a class="nav-link text-black" asp-area="" asp-controller="Home" asp-action="Index">ATRAS</a>
        <a href="http://localhost:5240/Home/"><img src="~/lib/atras.png" width="30" height="20" alt="atras" class="flecha-atras"><a/>
        <div class="atras">  
        </div> 
        
        <div class="rectanguloTituloNegro">
                <p>CATEGORÍAS</p>
        </div>
        <section class="rectanguloCategorias">
            <div class="categoria1">
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="categoria2">
                   <img src="~/lib/cat1.png" width="200" height="250" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#116060;" class="centrado" >ARTES MARCIALES</p>
                   
                </div>
                <div class="categoria3">
                   <img src="~/lib/cat2.png" width="140" height="150" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#116060;" class="centrado" >EQUIPO GYM</p>
                </div>
                <div class="categoria4">
                   <img src="~/lib/cat3.png" width="140" height="170" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#116060;" class="centrado" >ROPA GYM</p>
                </div>
        </section>
        <br>
        <div class="rectanguloTituloVerde">
                <p>LO MÁS VENDIDO</p>
        </div>
        <section class="rectanguloCategorias">
            <div class="categoria1">
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="venta1">
                   <img src="~/lib/vent1.jpg" width="140" height="160" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#000000;" class="centrado" >GUANTES MMA</p>
                   
                </div>
                <div class="categoria3">
                   <img src="~/lib/vent2.jpg" width="140" height="150" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#000000;" class="centrado" >SET MANCUERNAS</p>
                </div>
                <div class="categoria4">
                   <img src="~/lib/vent4.jpg" width="160" height="170" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#000000;" class="centrado" >RASHGUARD UA</p>
                </div>
        </section>
        <br>
        <div class="rectanguloTituloNegro">
                <p>MARCAS</p>
        </div>
        <section class="espacios">
            <p></p>
        </section>
        <section class="rectanguloMarcas">
            <img src="~/lib/logoMarca1.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca2.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca3.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca4.png" width="160" height="40" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca5.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
            <img src="~/lib/logoMarca6.png" width="100" height="72" alt="Datos" class="imagen-datos"/>
        </section>
        <section class="espacios">
            <p></p>
        </section>

        <div class="rectanguloTituloVerde">
                <p>PROMOCIONES</p>
        </div>
        <section class="rectanguloCategorias">
            <div class="categoria1">
                   <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                </div>
                <div class="venta1">
                   <img src="~/lib/promo1.jpg" width="140" height="160" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#116060;" class="centrado" >RASHGUARD</p>
                   
                </div>
                <div class="categoria3">
                   <img src="~/lib/promo2.jpg" width="140" height="150" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#116060;" class="centrado" >VENDAS</p>
                </div>
                <div class="categoria4">
                   <img src="~/lib/promo3.jpg" width="160" height="170" alt="Sobre nosotros" class="imagen-about-us"/>
                   <p style="color:#116060;" class="centrado" >GUANTES BOX</p>
                </div>
        </section>


    </main>
</body>


</html>
